.login{
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.3)
      ),
      url("https://images.pexels.com/photos/768473/pexels-photo-768473.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
    background-size: cover;
    font-family: "Lora", sans-serif;

}

.loginForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 400px;
}
.loginForm>label{
    margin: 10px 0;
}
.loginTitle{
    font-size: 70px;

}
.loginInput{
    border: none;
    padding: 10px;
    margin: 10px;
    background-color: white;
border-radius: 10px;
}
.loginBtn{
    width: 380px;
    height: 40px;
    font-size: 20px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 7px;
    background-color: #e0ae93;
    border: none;
    color: white;
}